<% include ./header %>
  <form class="form-signin text-center" enctype="application/x-www-form-urlencoded">
      <img class="mb-4" src="/img/package-icon.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Por favor, faça o login</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>   
          <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Me matenha conectado(a)
            </label>
          </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; Deyvison Borges - Gestok | 2019</p>
  </form>
<% include ./footer %>